<h5 class="display-5 text-primary">
サイトの設定</h5>
<table>
	<tr><th>タイトル</th>
		<td><%= @articleconfig.title %></td></tr>
	<tr><th>サブタイトル</th>
		<td><%= @articleconfig.subtitle %></td></tr>
	<tr><th>スタイル</th>
		<td><%= @articleconfig.style %></td></tr>
	</tr>
</table>
<p><a href='/site_configs/edit'>編集画面＞＞</a></p>
<p><a href="/admins/menu/">戻る</a></p>