<h1 class="display-4 text-primary">
    Articles#edit</h1>

<%= form_for(@groupRelation, url:{controller:'admins', action:'group_add'}) do |form| %>
<table>
    　 <td>
        <div class="form-group">
            <label for="group_id">グループ</label>
            <%= form.select :group_id, [['閲覧のみ', '1'], ['閲覧、編集', '2'], ['管理者', '3']] %>
        </div>
    </td>
    <td>
        <div class="form-group">
            <label for="account_id">アカウント</label>
            <%= form.text_field :account_id , {class:"form-control"} %>
        </div>
    </td>
</table>
<%= form.submit "送信" %>
<% end %>
<p><a href="/article_edits">戻る</a></p>