<h2>管理画面</h2>

<table>
    <tr>
        <td>○リンク</td>
    </tr>
    <% if !(current_account.auth == "1") then%>
    <tr>
        <td><a href="/article_edits/new">投稿</a></td>
    </tr>
    <tr>
        <td><a href="/article_edits">編集</a></td>
    </tr>
    <% end %>
    <% if current_account.auth == "9" then%>
    <tr>
        <td><a href="/admins/index/">他のアカウント管理</a></td>
    </tr>
    <tr>
        <td><a href="/categories/">カテゴリー管理</a></td>
    </tr>
    <tr>
        <td><a href="/groups/index">グループ管理</a></td>
    </tr>
    <tr>
        <td><a href="/site_configs/edit">サイト設定</a></td>
    </tr>
    <% end %>
    <tr>
        <td><a href="/accounts/edit/">アカウント情報変更</a></td>
    </tr>
</table>
<br>
<a href="/">記事一覧</a>