<h1>管理画面</h1>

<table>
    <tr>
        <td>○リンク</td>
    </tr>
    <tr>
        <td><a href="/accounts/sign_up/">アカウント登録</a></td>
    </tr>
    <tr>
        <td><a href="/accounts/edit/">アカウント情報変更</a></td>
    </tr>
    <tr>
        <td><a href="/article_edits/add">投稿</a></td>
    </tr>
    <tr>
        <td><a href="/article_edits/index">編集</a></td>
    </tr>   
    <tr>
        <td><a href="/categories/">カテゴリー管理</a></td>
    </tr>
    <tr>
        <td><a href="/site_configs/">ブログ設定</a></td>
    </tr>
</table>
<br>
<a href="/">記事一覧</a>