
<div class="container" style="background:#FFFFFF; padding: 10px;">
<h2 class="show_title pt-3"><%= @article.title %></h2>
<p class="show_read float-left text-secondary h6 pr-3">投稿者：<%= @article.account.name + '　カテゴリー：[' + @article.category.name + ']'+ '　グループ：[' + @article.group.name + ']'  + '　＜' + @article.disclosureRange.name + '＞'%></p><br>
<span class="show_created float-right text-secondary h6 pr-3"><%= @article.created_at.strftime(" %Y.%m.%d %a %H:%M:%S") %></span><br>
<hr>
<%= @article.content %>
</div>
<br>
<p><a href="/">戻る</a></p>
