<h1 class="display-4 text-primary">
カテゴリの登録</h1>
<p>※カテゴリの登録</p>
<% if @category.errors.any? %>
<ul>
	<% @category.errors.full_messages.each do |err| %>
		<li><%= err %></li>
	<% end %>
</ul>
<% end %>
<%= form_for(@category, url:{controller:'categories', action:'add'}) do |form| %>
<table>
    <div class="form-group">
    <label for="name">カテゴリ名</label>
		<td><%= form.text_field :name, {class:"form-control"} %>
	</div>

</table>
<%= form.submit "登録" %>
	<% end %>