<h1 class="display-4 text-primary">
Articles#edit</h1>
<% @accounts.each do |obj| %>
<%= form_for(@groupRelation, url:{controller:'admins', action:'group_edit'}) do |form| %>
<table>
　  <td>
    <div class="form-group">
	  <label for="group_id">グループ</label>
      <%= form.text_field :group_id, {class:"form-control"} %>
	</div></td>
	<td><div class="form-group">
	  <label for="account_id">アカウント</label>
	  <%= form.text_field :account_id , {class:"form-control"} %>
	</div>
	</td>
</table>
<%= form.submit "送信" %>
<% end %>
<p><a href="/admins/group_add">新規追加</a></p>
<p><a href="/admins/menu">戻る</a></p>